{% extends "base.html" %}

{% block title %}
  Технологии
{% endblock %}

{% block content %}
  <div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          Django Debug Toolbar
        </li>
        <li class="list-group-item">
          VSCode
        </li>
        <li class="list-group-item">
          Git
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>Свёрстано с потом, кровью и слёзами на старом Джанго.</p>
      <p>Отлажено при помощи Django Debug Toolbar.</p>
      <p>VSCode и Git были незаменимы.</p>
    </article>
  </div>
{% endblock %}
