<article>
  <ul class="fw-semibold">
      <li>
        Автор: {{ post.author.get_full_name }}
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
      {% if show_group and post.group %}
        <li>
          Группа: {{ post.group.title }}
        </li>
      {% endif %}
  </ul>
  <p>{{ post.text|linebreaksbr }}</p>
  {% if show_group and post.group %}
    <a href="{% url 'posts:group_list' post.group.slug %}">
      все записи группы
    </a>
  {% endif %}
</article>
