{% extends 'base_form.html' %}

{% block title %}
  {% if is_edit %}
    Редактировать пост
  {% else %}
    Новый пост
  {% endif %}
{% endblock %}

{% block card_title %}
  {% if is_edit %}
    Редактировать пост
  {% else %}
    Новый пост
  {% endif %}
{% endblock %}

{% block action_url %}
  {% if is_edit %}
    {% url 'posts:post_edit' form.instance.pk %}
  {% else %}
    {% url 'posts:post_create' %}
  {% endif %}
{% endblock  %}

{% block extra_form_attrs %}
  enctype="multipart/form-data"
{% endblock  %}

{% block button_text %}
  {% if is_edit %}
    Сохранить
  {% else %}
    Добавить
  {% endif %}
{% endblock  %}
