{% load static %}

<header>
  <nav class="navbar navbar-light navbar-expand-lg" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'posts:index' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30"
          class="d-inline-block align-top" alt="">
        <span style="color:red">Ya</span>tube
      </a>
      <button class="navbar-toggler" type="button"
        data-bs-toggle="collapse" data-bs-target="#navbarCollapsibleContent"
        aria-controls="navbarCollapsibleContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapsibleContent">
        <ul class="nav nav-pills ms-auto">
          {% with request.resolver_match.view_name as view_name %}
          {% include 'includes/nav_link.html' with path='about:author' text='Об авторе' %}
          {% include 'includes/nav_link.html' with path='about:tech' text='Технологии' %}
          {% if user.is_authenticated %}
          {% include 'includes/nav_link.html' with path='posts:post_create' text='Новая запись' %}
          {% include 'includes/nav_link.html' with path='users:password_change' text='Изменить пароль' light=True %}
          {% include 'includes/logout_link.html' with path='users:logout' text='Выйти' light=True %}
          <li class="navbar-text">
            Пользователь:
            <a href="{% url 'posts:profile' user.username %}">
              {{ user.username }}
            </a>
          </li>
          {% else %}
          {% include 'includes/nav_link.html' with path='users:login' text='Войти' light=True %}
          {% include 'includes/nav_link.html' with path='users:signup' text='Регистрация' light=True %}
          {% endif %}
          {% endwith %}
        </ul>
      </div>
    </div>
  </nav>
</header>
