{% extends 'base_card.html' %}

{% block title %}
  Новый пароль
{% endblock %}

{% block card_title %}
  {% if validlink %}
    Введите новый пароль
  {% else %}
    Ошибка
  {% endif %}
{% endblock %}

{% block card_body %}
  {% if validlink %}
    {% include 'includes/form_errors.html' %}
    <form method="post" action="{% url 'users:password_reset_confirm' %}">
      {% csrf_token %}
      {% include 'includes/form_fields.html' %}
      <div class="col-md-6 offset-md-4">
        <button type="submit" class="btn btn-primary">
          Назначить новый пароль
        </button>
      </div>
    </form>
  {% else %}
    <p>
      Ссылка сброса пароля содержит ошибку или устарела.
    </p>
  {% endif %}
{% endblock %}
