{% extends 'base_card.html' %}

{% block title %}
  Сброс пароля
{% endblock %}

{% block card_title %}
  Чтобы сбросить старый пароль — введите адрес электронной почты,
  под которым вы регистрировались
{% endblock %}

{% block card_body %}
  {% include 'includes/form_errors.html' %}
  <form method="post" action="{% url 'users:password_reset' %}">
    {% csrf_token %}
    {% include 'includes/form_fields.html' %}
    <div class="col-md-6 offset-md-4">
      <button type="submit" class="btn btn-primary">
        Сбросить пароль
      </button>
    </div>
  </form>
{% endblock %}
