{% extends 'base_card.html' %}

{% block card_body %}
  {% include 'includes/form_errors.html' %}
  <form method="post" action="
    {% block action_url %}
    {% endblock %}
  " {% block extra_form_attrs %}{% endblock %}>
    {% csrf_token %}
    {% include 'includes/form_fields.html' %}
    <div class="col-md-6 offset-md-4">
      <button type="submit" class="btn btn-primary">
        {% block button_text %}
        {% endblock  %}
      </button>
      {% block extra %}
      {% endblock  %}
    </div>
  </form>
{% endblock %}
